<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    &lt;!&ndash; Hide logback own logs &ndash;&gt;-->
<!--    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>-->
<!--    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>-->

    <logger name="org.hibernate" level="OFF" />
    <logger name="org.seleniumhq.selenium" level="OFF" />
    <logger name="org.openqa.selenium" level="OFF" />

</configuration>